/*Comentarios*/
body{
    background-color: #ffdfd1;
    color: #003557;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

h1{
    color: #005276
}

h2{
    color: #412f52
}

h3{
    color: #7866ca;
}

ol{
    color: #148f82;
}

il{
    color: #412f52;
}

p{
    color: #536299;
}

.img1, .img2, .img3{
    width: 300px;
    height: 250px;
    border-style: solid;
    border-color: #148f82;
    padding: 10px;
    margin: 30px;
}

small{
    color: #007956;
}